@import url('https://fonts.googleapis.com/css?family=Oswald:300');

body {
    font-family: 'Oswald', sans-serif;
}

.navbar {
    margin-bottom: 50px;
    background-color: rgba(0,0,0,0.6);
}

.nav-item {
    margin-left: 15px;
}

.banner {
    height: 700px;
    background-image: url("/images/banner.png");
    background-position: center;
    margin-bottom: 50px;
}

.banner-text {
    font-size: 60px;
    padding-top: 300px;
    font-weight: bold;
}